<header>
    <nav class="navbar navbar-dark navbar-expand-lg" [ngClass]="{'scrolled': navScrolled, 'fixed-top': navScrolled}" #nav>
      <div class="container">
        <a routerLink="/" class="d-lg-block navbar-brand" [class.d-none]="hideTitleMobile" >
          <img width="40px" height="40px" src="assets/images/logo-token.svg" alt="Insights Logo">
          <span>INSTAR WALLET</span>
        </a>
        <button (click)="openMobileMenu()" class="navbar-toggler" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto align-items-center">
            <ng-container *ngIf="!isLoggedIn">
              <li class="nav-item">
                <a class="nav-link" routerLink="/login">LOG IN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-btn-gray" routerLink="/signup">REGISTER</a>
              </li>
            </ng-container>
            <ng-container *ngIf="isLoggedIn">
              <li class="nav-item">
                <a class="nav-link" (click)="signOutClicked()">SIGN OUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-btn-gray" routerLink="/app">GO TO APP</a>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </nav>
    <div class="show-menu hide-menu" [ngClass]="{'hide-menu': !showMobileMenu}" id="resp-menu">
      <div class="mini-container">
        <div class="justified">
          <div class="text-right">
            <img (click)="closeMobileMenu()" src="assets/images/close.svg" class="close-menu" width="20px" height="20px"
              style="cursor: pointer">
          </div>
          <div class="main-icon-menu text-center">
            <img src="assets/images/logo-token.svg" />
          </div>
        </div>
        <hr>
        <div>
          <ng-container *ngIf="isLoggedIn">
            <a routerLink="/app" class="mini-dark">GO TO APP</a>
            <a (click)="signOutClicked()" class="mini-light">SIGN OUT</a>
          </ng-container>
          <ng-container *ngIf="!isLoggedIn">
            <a routerLink="/signup" class="mini-dark">REGISTER</a>
            <a routerLink="/login" class="mini-light">LOG IN</a>
          </ng-container>
        </div>
        <div class="menu-footer align-items-center">
          <div class="col-12">
            <p>Insights Network 2018 © All rights reserved</p>
          </div>
          <div class="col-12 social">
            <a target="_blank" href="https://t.me/InsightsNetwork"><img src="assets/images/telegram.svg"></a>
            <a target="_blank" href="https://medium.com/insightsnetwork"><img src="assets/images/medium.svg"></a>
            <a target="_blank" href="https://twitter.com/instartoken"><img src="assets/images/twitter.svg"></a>
            <a target="_blank" href="https://www.reddit.com/r/instar/"><img src="assets/images/reddit.svg"></a>
          </div>
        </div>
      </div>
    </div>
  </header>
  