<div class="row">
    <div class="col-auto activity-icon">
      <img class="img-fluid" [src]="image">
    </div>
    <div class="col-2">
        <a><h3>{{ currencySymbol }}</h3></a>
        <p class="d-none d-lg-block">{{ currencyName }}</p>
        <p class="d-lg-none">+{{ dayChange }}%</p>
    </div>
    <div class="d-none d-lg-block col-1">
        +{{ dayChange }}%
    </div>
    <div class="d-none d-lg-block col-1">
        ${{ price }}
    </div>
    <div class="d-none d-lg-blockcol-1">
        ${{ dayVolume }}
    </div>
    <div class="d-none d-lg-block col-1">
        Graph
    </div>
    <div class="ml-auto col-auto">
        <button appButtonConfirm>Buy</button>
    </div>    
    <div class="col-auto">
        <button appButtonConfirm>Sell</button>
    </div>    
</div>
