.sidebar{
    display: inline-block;
    nav{
        min-width: 20rem;
        max-width: 20rem;
        min-height: calc(100vh - 12rem);
        color: #8c9fbf;
        transition: all 0.3s;
        .sidebar-header {
            padding: 20px;
            background: #f0f0f0;
        }
        ul.components {
            padding: 3rem 0;
            padding-left: 0.75rem;
        }
        ul {
            list-style: none;
            padding-left: 0.75rem;
        }
        ul li a {
            padding: 1rem 1rem;
            font-size: 1.1rem;
            display: block;
            color: #B1B1B1;
            &:hover{
                color: #3A446A;
            }
            &.active{
                color: #3A446A;
            }
            img{
                margin-right: 1rem;
            }
        }
    }
}
