@import '~bootstrap/scss/bootstrap-grid.scss';

/deep/ .gray-bg {
    background-color: #f8f8fa;
}

.tabbed-content {
    margin-bottom: 3.68rem;
    .panel {
        display: none;
    }
    div.active {
        flex-direction: column;
        display: flex !important;
    }
}

/deep/ .tabs {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(md) {
        justify-content: space-between;
    }
    .active {
        border-bottom: 3.2px solid #303864;
        color: #303864;
    }
    li {
        margin-right: 2.814rem;
        border-bottom: 3.2px solid transparent;
        padding: 0.67rem 0;
        letter-spacing: 1.8px;
        font-family: "AcuminPro-Bold";
        font-weight: bold;
        font-size: 1.206rem;
        color: #93a3bd;
        cursor: pointer;
        @include media-breakpoint-down(md) {
            margin-right: 0;
            font-size: 1rem;
            text-align: center;
            width: 100%;
        }
        &.last{
            margin-left: auto;
            margin-right: 0;
        }

        img{
            width: 20px;
            height: auto;
            margin-right: 1rem;
        }
    }
}
