<div class="row">
    <div class="col-auto activity-icon">
      <div [ngClass]="'type-' + type">{{ activityInitials }}</div>
    </div>
    <div class="col-7 col-md-5">
        <a (click)="open()"><h3>{{title}}</h3></a>
        <p class="d-none d-md-block">{{description}}</p>
        <p class="d-block d-md-none">{{requester}}</p>
    </div>
    <div class="d-none d-md-block col-md-3 mr-auto">
        {{requester}}
    </div>
    <div class="col-2 d-flex justify-content-center">
        <a (click)="open()"><app-instar-reward [amount]="reward"></app-instar-reward></a>
    </div>
</div>
