.form-element {
  border-radius: 0.25rem;
  background-color: #eef1f6;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  transition: all 100ms linear;
  &:hover {
    background-color: #63cab6;
    label {
      color: #ffffff;
    }
  }
  label {
    transition: all 100ms linear;
    color: #8c9fbf;
    margin-top: 0.5rem;
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  [type="radio"]:checked+label,
  [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
  }

  [type="radio"]:checked+label:before,
  [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
  }

  [type="radio"]:checked+label:after,
  [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #63cab6;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.requester {
  border-radius: 1rem;
  background-color: #e8f0ff;
  display: inline-block;
  padding: 0.25rem 1rem;
  color: #2f3763;
  font-size: 0.85rem;
  margin-top: 0.5rem;
  margin-left: -0.75rem;
}


.modal-body {
  background-color: #F4F6F8;
  .activity-icon {
    width: 3.5rem;
    margin-right: 1.5rem;
  }
  
  h4 {
    color: #8c9fbf;
    font-size: 1rem;
    margin-bottom: 0;
  }
  
  p {
    font-size: 0.9rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
  }
  
  hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-top: 1px solid #000000;
  }
}
