<div class="container registration-form">
  <div class="row">
    <div class="col-md-10 col-lg-6 mx-auto my-5">
      <h2 class="text-center">Change Password</h2>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Current Password" formControlName="currentPassword" type="password"
              appPasswordToggle>
            <mat-error *ngIf="f.currentPassword?.hasError('required')">
              Current Password is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Choose Password" formControlName="password" type="password" appPasswordToggle>
            <mat-error *ngIf="f.currentPassword?.hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password Confirmation" formControlName="passwordConfirm" type="password"
              appPasswordToggle>
            <mat-error *ngIf="f.passwordConfirm?.hasError('required')">
              Password Confirmation is required
            </mat-error>
            <mat-error *ngIf="f.passwordConfirm?.hasError('notEquivalent')">
              Passwords do not match
            </mat-error>
          </mat-form-field>
          <div class="text-center">
            <button [disabled]="!changePasswordForm.valid" appButtonConfirm>CHANGE PASSWORD</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
