.modal-body {
    background-color: #F4F6F8;
    .activity-icon {
      width: 3.5rem;
      margin-right: 1.5rem;
    }
    
    h4 {
      color: #8c9fbf;
      font-size: 1rem;
      margin-bottom: 0;
    }
    
    p {
      font-size: 0.9rem;
      margin-right: 0.5rem;
      margin-top: 1rem;
    }
    
    hr {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      border-top: 1px solid #000000;
    }
}
