<div class="container registration-form">
  <div class="row">
    <div *ngIf="!showSuccessMessage" class="col-md-10 col-lg-6 mx-auto my-5">
      <h2 class="text-center">Forgot Your Password?</h2>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <p>Enter the email you used to register</p>
          <mat-form-field>
            <input matInput placeholder="E-mail" formControlName="email" autofocus>
            <mat-error *ngIf="f.email?.hasError('email') && !email?.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="f.email?.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="d-flex justify-content-center">
              <button [disabled]="!forgotPasswordForm.valid" appButtonConfirm type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="showSuccessMessage" class="col-md-6 mx-auto my-5 ">
      <div class="form-group">
        <p>
          We've emailed you instructions for setting your password, if an account exists with the email you entered.
          You should receive them shortly.
        </p>
        <p>
          If you don't receive an email, please make sure you've entered the address you registered with,
          and check your spam folder.
        </p>
      </div>
    </div>
  </div>
</div>
